html,
body {
  background-color: black;
  color: white;
}

.header__firstTwoLetters {
  color: #880606;
}

.header {
  text-align: center;
  padding: 2rem;
  font-size: 4rem;
}

#form__http-path,
#form__submit-button,
#form__input {
  border-radius: 0;
}

#form__input-container,
#form__submit-button-container {
  margin-left: 0;
}

#form__server-response {
  height: 250px;
  resize: none;
}

#form__submit-spinner {
  margin-right: 1rem;
}
